body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

h1 {
  font-size: 30px;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

textarea {
  min-height: 100px;
}

* {
  box-sizing: border-box;
}

.AppHeader {
  display: block;
  text-align: left;
  background-color: #F44336;
  width: 100%;
  color: #fff;
  box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.12);
}

.AppHeader > * {
  display: inline-block;
  margin: 0;
  padding: 10px;
  vertical-align: middle;
}

.EmtooLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.EmtooForm {
  padding: 20px;
  text-align: center;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.EmtooField {
  padding: 10px;
  border: 2px dashed #f44336;
  font-size: 15px;
  border-radius: 4px;
}

.EmtooButton {
  border: 2px solid #f44336;
  border-radius: 4px;
  background-color: #fff;
  color: #f44336;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  font-size: 20px;
}

.EmtooForm > * {
  display: block;
  margin: 10px;
}